[broker]
address = "localhost:29092"
topic = "ccx.ocp.results"
payload_tracker_topic = "platform.payload-status"
service_name = "insights-results-aggregator"
group = "aggregator"
enabled = true
enable_org_allowlist = false

[server]
address = ":8080"
api_prefix = "/api/v1/"
api_spec_file = "openapi.json"
debug = true
auth = true
auth_type = "xrh"
maximum_feedback_message_length = 255
org_overview_limit_hours = 2

[processing]
org_allowlist_file = "org_allowlist.csv"

[storage]
db_driver = "sqlite3"
sqlite_datasource = "./aggregator.db"
log_sql_queries = true

[content]
path = "/rules-content"

[logging]
debug = false
log_level = ""
logging_to_cloud_watch_enabled = false

[cloudwatch]
aws_access_id = "a key id"
aws_secret_key = "tshhhh it is a secret"
aws_session_token = ""
aws_region = "us-east-1"
log_group = "platform-dev"
stream_name = "insights-results-aggregator"
debug = false
create_stream_if_not_exists = false

[metrics]
namespace = "aggregator"
