[broker]
address = "localhost:29092"
topic = "ccx.ocp.results"
group = "aggregator"
enabled = true

[server]
address = ":8080"
api_prefix = "/api/v1/"
api_spec_file = "openapi.json"
debug = true
default_page_size = 10

[processing]
org_whitelist = "org_whitelist.csv"

[storage]
db_driver = "sqlite3"
sqlite_datasource = "./aggregator.db"
pg_username = "user"
pg_password = "password"
pg_host = "localhost"
pg_port = 5472
pg_db_name = "aggregator"
pg_params = ""
log_sql_queries = true
