# Copyright 2021 Red Hat, Inc
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
apiVersion: v1
kind: Template
metadata:
  name: ccx-insights-results-aggregator
objects:

- kind: HorizontalPodAutoscaler
  apiVersion: autoscaling/v1
  metadata:
    labels:
      app: ccx-data-pipeline
    name: ccx-insights-results-aggregator
  spec:
    minReplicas: ${{MIN_REPLICAS}}
    maxReplicas: ${{MAX_REPLICAS}}
    scaleTargetRef:
      apiVersion: apps/v1
      kind: Deployment
      name: ccx-insights-results-aggregator
    targetCPUUtilizationPercentage: 80

- apiVersion: cloud.redhat.com/v1alpha1
  kind: ClowdApp
  metadata:
    name: ccx-insights-results
  spec:
    envName: ${ENV_NAME}
    testing:
      iqePlugin: ccx
    deployments:
      - name: aggregator
        minReplicas: ${{MIN_REPLICAS}}
        webServices:
          public:
            enabled: false
          private:
            enabled: true
          metrics:
            enabled: true
        podSpec:
          env:
            - name: INSIGHTS_RESULTS_AGGREGATOR__BROKER__ENABLED
              value: "false"
            - name: INSIGHTS_RESULTS_AGGREGATOR__CONTENT__PATH
              value: "/rules-content"
            - name: INSIGHTS_RESULTS_AGGREGATOR__SERVER__ADDRESS
              value: ":10000"
            - name: INSIGHTS_RESULTS_AGGREGATOR__SERVER__API_PREFIX
              value: "${IRA_API_PREFIX}"
            - name: INSIGHTS_RESULTS_AGGREGATOR__SERVER__API_SPEC_FILE
              value: "/openapi/openapi.json"
            - name: INSIGHTS_RESULTS_AGGREGATOR__SERVER__DEBUG
              value: "${DEBUG}"
            - name: INSIGHTS_RESULTS_AGGREGATOR__SERVER__AUTH
              value: "${AUTH}"
            - name: INSIGHTS_RESULTS_AGGREGATOR__SERVER__AUTH_TYPE
              value: "xrh"
            - name: INSIGHTS_RESULTS_AGGREGATOR__METRICS__ENABLED
              value: "true"
            - name: INSIGHTS_RESULTS_AGGREGATOR__SERVER__MAXIMUM_FEEDBACK_MESSAGE_LENGTH
              value: "255"
            - name: INSIGHTS_RESULTS_AGGREGATOR__SERVER__ORG_OVERVIEW_LIMIT_HOURS
              value: "168"
            - name: INSIGHTS_RESULTS_AGGREGATOR__STORAGE__DB_DRIVER
              value: postgres
            - name: INSIGHTS_RESULTS_AGGREGATOR__STORAGE__PG_PARAMS
              value: sslmode=disable
            - name: INSIGHTS_RESULTS_AGGREGATOR__LOGGING__LOGGING_TO_CLOUD_WATCH_ENABLED
              value: ${CLOUDWATCH_ENABLED}
            - name: INSIGHTS_RESULTS_AGGREGATOR__CLOUDWATCH__DEBUG
              value: ${CLOUDWATCH_DEBUG}
            - name: INSIGHTS_RESULTS_AGGREGATOR__CLOUDWATCH__STREAM_NAME
              value: ${IRDW_LOG_STREAM}
            - name: INSIGHTS_RESULTS_AGGREGATOR__CLOUDWATCH__CREATE_STREAM_IF_NOT_EXISTS
              value: ${CREATE_STREAM_IF_NOT_EXISTS}
            - name: INSIGHTS_RESULTS_AGGREGATOR__CLOUDWATCH__AWS_REGION
              valueFrom:
                secretKeyRef:
                  name: cloudwatch
                  key: aws_region
                  optional: true
            - name: INSIGHTS_RESULTS_AGGREGATOR__CLOUDWATCH__LOG_GROUP
              valueFrom:
                secretKeyRef:
                  name: cloudwatch
                  key: log_group_name
                  optional: true
            - name: INSIGHTS_RESULTS_AGGREGATOR__CLOUDWATCH__AWS_ACCESS_ID
              valueFrom:
                secretKeyRef:
                  name: cloudwatch
                  key: aws_access_key_id
                  optional: true
            - name: INSIGHTS_RESULTS_AGGREGATOR__CLOUDWATCH__AWS_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: cloudwatch
                  key: aws_secret_access_key
                  optional: true
          image: ${IMAGE}:${IMAGE_TAG}
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: ${IRA_API_PREFIX}openapi.json
              port: 10000
              scheme: HTTP
            initialDelaySeconds: 10
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 2
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: ${IRA_API_PREFIX}openapi.json
              port: 10000
              scheme: HTTP
            initialDelaySeconds: 5
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
          resources:
            requests:
              cpu: ${IRA_CPU_REQUEST}
              memory: ${IRA_MEMORY_REQUEST}
            limits:
              cpu: ${IRA_CPU_LIMIT}
              memory: ${IRA_MEMORY_LIMIT}
      - name: db-writer
        minReplicas: ${{DB_WRITER_REPLICAS}}
        webServices:
          public:
            enabled: false
          private:
            enabled: false
          metrics:
            enabled: true
        podSpec:
          initContainers:
            - name: execute-migrations
              image: ${IMAGE}:${IMAGE_TAG}
              env:
                - name: INSIGHTS_RESULTS_AGGREGATOR__BROKER__ENABLED
                  value: "false"
                - name: INSIGHTS_RESULTS_AGGREGATOR__METRICS__ENABLED
                  value: "false"
                - name: INSIGHTS_RESULTS_AGGREGATOR__STORAGE__DB_DRIVER
                  value: postgres
                - name: INSIGHTS_RESULTS_AGGREGATOR__STORAGE__PG_PARAMS
                  value: sslmode=disable
                - name: INSIGHTS_RESULTS_AGGREGATOR__STORAGE__LOG_SQL_QUERIES
                  value: "true"
                - name: INSIGHTS_RESULTS_AGGREGATOR__LOGGING__LOGGING_TO_CLOUD_WATCH_ENABLED
                  value: ${CLOUDWATCH_ENABLED}
                - name: INSIGHTS_RESULTS_AGGREGATOR__CLOUDWATCH__DEBUG
                  value: ${CLOUDWATCH_DEBUG}
                - name: INSIGHTS_RESULTS_AGGREGATOR__CLOUDWATCH__STREAM_NAME
                  value: ${IRDW_LOG_STREAM}
                - name: INSIGHTS_RESULTS_AGGREGATOR__CLOUDWATCH__CREATE_STREAM_IF_NOT_EXISTS
                  value: ${CREATE_STREAM_IF_NOT_EXISTS}
                - name: INSIGHTS_RESULTS_AGGREGATOR__CLOUDWATCH__AWS_REGION
                  valueFrom:
                    secretKeyRef:
                      name: cloudwatch
                      key: aws_region
                      optional: true
                - name: INSIGHTS_RESULTS_AGGREGATOR__LOGGING__LOG_GROUP
                  valueFrom:
                    secretKeyRef:
                      name: cloudwatch
                      key: log_group_name
                      optional: true
                - name: INSIGHTS_RESULTS_AGGREGATOR__LOGGING__AWS_ACCESS_ID
                  valueFrom:
                    secretKeyRef:
                      name: cloudwatch
                      key: aws_access_key_id
                      optional: true
                - name: INSIGHTS_RESULTS_AGGREGATOR__LOGGING__AWS_SECRET_KEY
                  valueFrom:
                    secretKeyRef:
                      name: cloudwatch
                      key: aws_secret_access_key
                      optional: true
              resources:
                limits:
                  cpu: ${DB_WRITER_CPU_LIMIT}
                  memory: ${DB_WRITER_MEMORY_LIMIT}
                requests:
                  cpu: ${DB_WRITER_CPU_REQUEST}
                  memory: ${DB_WRITER_MEMORY_REQUEST}
              command:
                - ./insights-results-aggregator
                - migration
                - latest
          env:
            - name: INSIGHTS_RESULTS_AGGREGATOR__BROKER__ADDRESS
              value: "${KAFKA_BOOTSTRAP_HOST}:${KAFKA_BOOTSTRAP_PORT}"
            - name: INSIGHTS_RESULTS_AGGREGATOR__BROKER__TIMEOUT
              value: "${KAFKA_TIMEOUT}"
            - name: INSIGHTS_RESULTS_AGGREGATOR__BROKER__TOPIC
              value: "${INCOMING_TOPIC}"
            - name: INSIGHTS_RESULTS_AGGREGATOR__BROKER__DEAD_LETTER_QUEUE_TOPIC
              value: "${DEAD_LETTER_QUEUE_TOPIC}"
            - name: INSIGHTS_RESULTS_AGGREGATOR__BROKER__PAYLOAD_TRACKER_TOPIC
              value: "${PAYLOAD_TRACKER_TOPIC}"
            - name: INSIGHTS_RESULTS_AGGREGATOR__BROKER__SERVICE_NAME
              value: "${DB_WRITER_SERVICE_NAME}"
            - name: INSIGHTS_RESULTS_AGGREGATOR__BROKER__GROUP
              value: "${GROUP_ID}"
            - name: INSIGHTS_RESULTS_AGGREGATOR__BROKER__ENABLED
              value: "true"
            - name: INSIGHTS_RESULTS_AGGREGATOR__BROKER__ENABLE_ORG_WHITELIST
              value: "false"
            - name: INSIGHTS_RESULTS_AGGREGATOR__CONTENT__PATH
              value: "/rules-content"
            - name: INSIGHTS_RESULTS_AGGREGATOR__SERVER__ADDRESS
              value: ":9000"
            - name: INSIGHTS_RESULTS_AGGREGATOR__SERVER__API_PREFIX
              value: "${IRDW_API_PREFIX}"
            - name: INSIGHTS_RESULTS_AGGREGATOR__SERVER__API_SPEC_FILE
              value: "/openapi/openapi.json"
            - name: INSIGHTS_RESULTS_AGGREGATOR__SERVER__DEBUG
              value: "${DEBUG}"
            - name: INSIGHTS_RESULTS_AGGREGATOR__SERVER__AUTH
              value: "${AUTH}"
            - name: INSIGHTS_RESULTS_AGGREGATOR__SERVER__AUTH_TYPE
              value: "xrh"
            - name: INSIGHTS_RESULTS_AGGREGATOR__PROCESSING__ORG_WHITELIST_FILE
              value: "/data/org_whitelist.csv"
            - name: INSIGHTS_RESULTS_AGGREGATOR__METRICS__ENABLED
              value: "true"
            - name: INSIGHTS_RESULTS_AGGREGATOR__STORAGE__DB_DRIVER
              value: postgres
            - name: INSIGHTS_RESULTS_AGGREGATOR__STORAGE__PG_PARAMS
              value: sslmode=disable
            - name: INSIGHTS_RESULTS_AGGREGATOR__LOGGING__LOGGING_TO_CLOUD_WATCH_ENABLED
              value: ${CLOUDWATCH_ENABLED}
            - name: INSIGHTS_RESULTS_AGGREGATOR__CLOUDWATCH__DEBUG
              value: ${CLOUDWATCH_DEBUG}
            - name: INSIGHTS_RESULTS_AGGREGATOR__CLOUDWATCH__STREAM_NAME
              value: ${IRDW_LOG_STREAM}
            - name: INSIGHTS_RESULTS_AGGREGATOR__CLOUDWATCH__CREATE_STREAM_IF_NOT_EXISTS
              value: ${CREATE_STREAM_IF_NOT_EXISTS}
            - name: INSIGHTS_RESULTS_AGGREGATOR__CLOUDWATCH__AWS_REGION
              valueFrom:
                secretKeyRef:
                  name: cloudwatch
                  key: aws_region
                  optional: true
            - name: INSIGHTS_RESULTS_AGGREGATOR__CLOUDWATCH__LOG_GROUP
              valueFrom:
                secretKeyRef:
                  name: cloudwatch
                  key: log_group_name
                  optional: true
            - name: INSIGHTS_RESULTS_AGGREGATOR__CLOUDWATCH__AWS_ACCESS_ID
              valueFrom:
                secretKeyRef:
                  name: cloudwatch
                  key: aws_access_key_id
                  optional: true
            - name: INSIGHTS_RESULTS_AGGREGATOR__CLOUDWATCH__AWS_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: cloudwatch
                  key: aws_secret_access_key
                  optional: true
          image: ${IMAGE}:${IMAGE_TAG}
          livenessProbe:
            failureThreshold: 10
            httpGet:
              path: "${IRDW_API_PREFIX}metrics"
              port: 9000
              scheme: HTTP
            initialDelaySeconds: 60
            periodSeconds: 60
            successThreshold: 1
            timeoutSeconds: 60
          readinessProbe:
            failureThreshold: 10
            httpGet:
              path: "${IRDW_API_PREFIX}metrics"
              port: 9000
              scheme: HTTP
            initialDelaySeconds: 60
            periodSeconds: 60
            successThreshold: 1
            timeoutSeconds: 60
          resources:
            limits:
              cpu: ${DB_WRITER_CPU_LIMIT}
              memory: ${DB_WRITER_MEMORY_LIMIT}
            requests:
              cpu: ${DB_WRITER_CPU_REQUEST}
              memory: ${DB_WRITER_MEMORY_REQUEST}
    database:
      # the DB name should match to app-interface DB name without specifying environment
      # https://gitlab.cee.redhat.com/service/app-interface/-/blob/ddd85c2ad79b40047391405b2d909eb38667bc43/data/services/insights/ccx-data-pipeline/namespaces/stage-ccx-data-pipeline-stage.yml#L60
      name: ccx-data-pipeline
      version: 12
    kafkaTopics:
      - replicas: 3
        partitions: 1
        topicName: ${INCOMING_TOPIC}
      - replicas: 3
        partitions: 1
        topicName: platform.payload-status

- kind: Service
  apiVersion: v1
  metadata:
    annotations:
      prometheus.io/path: /api/v1/metrics
      prometheus.io/port: "10000"
      prometheus.io/scheme: http
      prometheus.io/scrape: "true"
    name: ccx-insights-results-aggregator-prometheus-exporter
    labels:
      app: insights-results-aggregator
  spec:
    ports:
      - name: web
        port: 10000
        protocol: TCP
        targetPort: 10000
    selector:
      pod: ccx-insights-results-aggregator

- kind: Service
  apiVersion: v1
  metadata:
    annotations:
      prometheus.io/path: /metrics
      prometheus.io/port: "9000"
      prometheus.io/scheme: http
      prometheus.io/scrape: "true"
    name: ccx-insights-results-db-writer-prometheus-exporter
    labels:
      app: insights-results-db-writer
  spec:
    ports:
      - name: web
        port: 9000
        protocol: TCP
        targetPort: 9000
    selector:
      app: ccx-insights-results
      pod: ccx-insights-results-db-writer

parameters:
# insights-results-aggregator
- description: Image name
  name: IMAGE
  value: quay.io/cloudservices/insights-results-aggregator
- description: Image tag
  name: IMAGE_TAG
  required: true
- description: Determines Clowder deployment
  name: CLOWDER_ENABLED
  value: "false"
- description: Env Name
  name: ENV_NAME
  required: true
- description: Minimum number of pods to use when autoscaling is enabled
  name: MIN_REPLICAS
  value: '2'
- description: Maximum number of pods to use when autoscaling is enabled
  name: MAX_REPLICAS
  value: '6'
- name: IRA_CPU_LIMIT
  value: 500m
- name: IRA_MEMORY_LIMIT
  value: 1000Mi
- name: IRA_CPU_REQUEST
  value: 100m
- name: IRA_MEMORY_REQUEST
  value: 500Mi
- name: PAYLOAD_TRACKER_TOPIC
  description: Kafka topic for publishing updated for the Payload Tracker service
  value: platform.payload-status
- name: DEBUG
  value: "true"
- name: AUTH
  value: "false"
- name: IRA_API_PREFIX
  required: true
  value: "/api/v1/"

# insights-results-db-writer
- name: KAFKA_BOOTSTRAP_HOST
  required: true
  value: mq-kafka
- name: KAFKA_BOOTSTRAP_PORT
  required: true
  value: "29092"
- name: KAFKA_TIMEOUT
  value: 300s
- name: INCOMING_TOPIC
  value: ccx.ocp.results
  required: true
- name: DEAD_LETTER_QUEUE_TOPIC
  value: ccx.aggregator.dead.letter.queue
  required: true
- name: PAYLOAD_TRACKER_TOPIC
  value: platform.payload-status
  required: true
- name: DB_WRITER_SERVICE_NAME
  value: insights-results-db-writer
  required: true
- name: GROUP_ID
  value: ccx_data_pipeline_app
  required: true
- name: IRDW_API_PREFIX
  required: true
  value: /
- name: IRDW_LOG_STREAM
  value: $HOSTNAME
- name: DB_WRITER_REPLICAS
  description: The number of replicas to use for the insights-results-db-writer deployment
  value: "1"
- name: DB_WRITER_CPU_LIMIT
  value: 500m
- name: DB_WRITER_MEMORY_LIMIT
  value: 3000Mi
- name: DB_WRITER_CPU_REQUEST
  value: 100m
- name: DB_WRITER_MEMORY_REQUEST
  value: 1000Mi
- name: CLOUDWATCH_DEBUG
  value: "false"
  required: true
- name: CLOUDWATCH_ENABLED
  value: "true"
  required: true
- name: CREATE_STREAM_IF_NOT_EXISTS
  value: "true"
