name: Go tests

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  gotests:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        go-version:
          - "1.18"
          - "1.19"
          - "1.20"
          - "1.21"
    name: Tests for Go ${{ matrix.go-version}}
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
          POSTGRES_ADMIN_PASSWOR: admin
          POSTGRES_DATABASE: aggregator
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go-version }}
      - name: Print env vars
        run: env
      - name: Unit tests
        run: make test
      - name: Check code coverage
        run: ./check_coverage.sh
      - name: Display code coverage
        run: make coverage
